{% extends 'strona.html' %}

{% block tytul %}
	Strona główna dla fanatyków łucznictwa
{% endblock %}

{% block zawartosc %}
	<p>Strona startowa wykonana z szablonu strony WWW Flask</p>
	<article>
					<h2> Czy łuk jest bronią białą ? </h2>
					<blockquote cite="https://sklepluczniczy.pl/blog/czy-luk-to-bron/">
					  <p>Łuki używane są od tysięcy lat. Choć obecnie wykorzystywane 
						są w celach rekreacyjnych i sportowych, kiedyś służyły do celów 
						obronnych oraz do polowań na zwierzynę. Przed opatentowaniem broni palnej,
						to właśnie łuki były głównym narzędziem do obrony i ataku przeciwników. 
						Jak jest dziś? Czy łuk to broń? Obecnie łucznictwo traktowane jest jako hobby. 
						Wiele osób strzela z łuku w celach rekreacyjnych. Istnieje też zawodowa grupa strzelców, 
						trenująca do zawodów. Zawodnicy z całego świata biorą także udział w igrzyskach olimpijskich. 
						Startują zarówno mężczyźni, jak i kobiety. Łucznictwem coraz częściej interesują się także dzieci. 
						Czy w takim przypadku łuk można nazwać bronią? Obecnie łuk można uznać za broń sportową. 
						Nie jest bowiem używana w celu zrobienia krzywdy człowiekowi bądź zwierzynie. 
						Każda osoba używająca łuku musi wykazać się dużą odpowiedzialnością za to, co robi. 
						Treningi powinny odbywać się w wyznaczonych do tego miejscach, tak, aby nikomu nie stała się krzywda. 
						Co więcej, osoby, które dopiero zaczynają swoją przygodę z łucznictwem, pierwsze kroki powinny stawiać pod okiem 
						doświadczonego strzelca.Wszelkie niezbędne informacje dotyczące broni określa ustawa z dnia 21 maja 1999 r. o broni i amunicji. 
						Jeśli zastanawiasz się, czy kupno łuku będzie wiązało się z niemiłymi konsekwencjami prawnymi, nie musisz się o to obawiać. 
						Łuk możesz kupić w sklepach stacjonarnych, a także online. Łuku nie można używać podczas polowań, jednak do celów sportowych
						i rekreacyjnych, jak najbardziej. Łucznictwo ma długą tradycję. Współcześnie łucznictwo praktykowane jest przez dorosłych i dzieci.
						Często to hobby praktykowane przez całe rodziny. Choć łuk jest legalny i dostępny dla praktycznie każdego, nie można zapominać, 
						że nieumiejętnie używany, może stać się niebezpieczny, dlatego tak ważne jest, aby amatorzy trenowali pod okiem 
						doświadczonych strzelców. Ważna jest także odpowiednia postawa ciała – rąk, nóg, stóp, łokci. Każdy strzelec musi 
						uzbroić się w cierpliwość, ponieważ nauka strzelania z łuku to niełatwe zadanie, jednak regularne treningi przynoszą 
						zadowalające efekty.
						</p>
					</blockquote>
				<hr />
					<img src="https://cdn.leonardo.ai/users/7e6f519c-c11e-42a0-8fa4-4138a74e2663/generations/085c0066-6ac7-403e-91c0-c96251eccabb/DreamShaper_v7_model_of_compound_bow_in_orange_color_light_ba_1.jpg" alt="Reklama Bear" />
				<hr />
					<h2>Pierwszy łuk?</h2>
					<blockquote cite="https://sklepluczniczy.pl/blog/czy-luk-to-bron/">
						<p>Najważniejsze jest to, aby nasz pierwszy łuk był dobrany pod względem naszych możliwości fizycznych. Należy podkreślić, 
						 że używane mięśnie podczas oddawania strzału, rzadko kiedy pracują w innych warunkach. Z tego też powodu, nawet osoby, 
						 które mogą uważać się za silne i we wzorowej kondycji fizycznej, powinny zdecydować się na łuki, których siła naciągu lbs będzie niższa.
						 Zalecanym na początek, będzie naciąg nieprzekraczający piętnastu kilogramów, a w przypadku kobiet, nieco mniej, bo dziesięciu.
						 Jeśli jesteś myśliwym, to prawdopodobnie łuk bloczkowy będzie najlepszym wyborem, gdyż jego konstrukcja ze stopów metali oraz włókna szklanego
						 jest niewrażliwa na warunki otoczenia. Przemierzanie kilometrów w celu znalezienia odpowiedniego miejsca do oddania strzału, jest niezwykle wymagającym zadaniem.
						 Czy to będzie lekka mżawka, czy zsuwający się śnieg z potrącanych gałęzi, nasz łuk z pewnością wtedy nie zawiedzie, utrzymując katalogową siłę naciągu.
						 Dodatkowa możliwość podpięcia przyrządów celowniczych pod majdan sprawia, że stały się one tak chętnie wybierane przez myśliwych. Sztywne ramiona takiego łuku mogą być dużo krótsze, 
						 poprawiając przemieszczanie się przez gęstwiny. Niestety, największą wadą tych konstrukcji, jest dużo wyższa cena takiego łuku. Wiąże się to z większym skomplikowaniem całego mechanizmu.
						 Majdan jest wykonany ze sztywnych materiałów, co w znaczącym stopniu przekłada się na celność sprzętu. Bardzo ciekawą cechą łuków bloczkowych jest regulowana siła naciągu cięciwy.
						 Okazuje się to bardzo pomocne, szczególnie w początkowej fazie przygody z takim łukiem. Zawsze pamiętajmy jaki typ łuku docelowo nas interesuje, bo oprócz komfortu technicznego, 
						 także i styl się liczy, który reprezentujemy.
						</p>
					</blockquote>
					
					<details>
					  <summary>Krótka historia bloczków</summary>
					  <p>
						Łuk bloczkowy wynaleziono w latach 60. ubiegłego wieku, a jego
						pierwotnym i głównym przeznaczeniem jest myślistwo. Zastosowany
						system bloczków (stąd nazwa „łuk bloczkowy”) znacząco redukuje siłę
						niezbędną do utrzymania łuku w pozycji naciągniętej, umożliwiając
						łucznikowi długie pozostawanie w postawie strzeleckiej w oczekiwaniu na
						odpowiedni moment strzału. Konstrukcja bloczków ogranicza długość
						naciągu do określonej wartości, czyniąc ją wyjątkowo powtarzalną, co w
						efekcie skutkuje niespotykaną dotąd w łucznictwie precyzją.
					  </p>
					</details>
					
					 <aside>
					  <p>rozwiń</p>
					</aside>
				</article>
{% endblock %}