<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8" />
		<meta name="HandheldFriendly" content="true">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block tytul %} {% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styl.css') }}" />
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</head>
	<body>
		<div>
			<header>
				<div>
					<h1>Forum Łucznicze / Archery</h1>
				</div>
				<div>
					<span>Logowanie</span>
				</div>
			</header>

			<nav>
				<div class="przycisk" data-odnosnik="Łuki"><p>ŁUKI BLOCZKOWE</p></div>
				<div class="przycisk" data-odnosnik="Forum"><p>FORUM DYSKUSYJNE</p></div>
				<div class="przycisk" data-odnosnik="Sklep"><p>SKLEP</p></div>
				<div class="przycisk" data-odnosnik="Kontakt"><p>KONTAKT</p></div>
			</nav>
			<nav id="kategoria">
				<a href="{{ url_for('wiedza', id=1) }}">Wszystko o łukach bloczkowych</a>
				<a href="{{ url_for('przelicznik') }}">Dobierz łuk dla Ciebie- przelicznik</a>
			</nav>

			
			<main>
				 {% block zawartosc %} {% endblock %}
			</main>
			<aside>
				<img src="https://cdn.leonardo.ai/users/7e6f519c-c11e-42a0-8fa4-4138a74e2663/generations/2b6aa0a3-89c5-433d-981f-4593d5bbccad/DreamShaper_v7_model_of_compound_bow_in_orange_wildfire_color_0.jpg" alt="Reklama Bear" />
			</aside>
			
			<footer>
				<div>
					<p>Sklep - wszelkie prawa zastrzeżone</p>
				</div>
				
				<div>
					<span>Tutaj będzie mapka dojazdu</span>
				</div>
			</footer>
		</div>
	</body>
</html>